# default settings for sessions
[default]
BeginString=FIX.4.4
ReconnectInterval=60
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=20
ConnectionType=initiator
FileStorePath=target/data/ftp

# session definition
[session]
SenderCompID=FTP-Chris
TargetCompID=Order-Generator-Chris
SocketConnectPort=9823
SocketConnectHost=localhost
DataDictionary=FIX44.xml
FileLogPath=session/fix/ftp

